[submodule "elisp"]
	path = elisp
	url = git@github.com:randazzo-ignacio/iar-elisp.git
[submodule "infra"]
	path = infra
	url = git@github.com:randazzo-ignacio/iar-infra.git
[submodule "containers"]
	path = containers
	url = git@github.com:randazzo-ignacio/iar-containers.git
[submodule "knowledge"]
	path = knowledge
	url = https://github.com/randazzo-ignacio/iar-knowledge
[submodule "metaconfig"]
	path = metaconfig
	url = git@github.com:randazzo-ignacio/iar-metaconfig.git
